/Inteligencia Artificial/Practica 2 - Gatos - Netbeans/Gatos/build/
/Inteligencia Artificial/Practica 2 - Gatos - Netbeans/Gatos/nbproject/private/
/Inteligencia Artificial/Practica 2 - Gatos - Netbeans/Gatos/dist/
/Inteligencia Artificial/Practica03 - Laberinto/Termitas/build/
/Inteligencia Artificial/Practica03 - Laberinto/Termitas/nbproject/private/
/Inteligencia Artificial/Practica03 - Laberinto/Laberinto/nbproject/private/
/Inteligencia Artificial/Practica03 - Laberinto/Laberinto/build/
/Inteligencia Artificial/Practica03 - Laberinto/entrega/Laberinto/src/Laberinto/build/
/Inteligencia Artificial/Practica03 - Laberinto/entrega/Laberinto/src/Laberinto/nbproject/private/